body {
	background-color: #EEEEEE;
}

.sidebar {
  position: fixed; /* スクロールしても位置を固定 */
  top: 130px;
  width: 228px;
  padding: 10px;
  left: 75%;
  border: 1px solid #CCC;
}

.text {
	padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    width: 95%;
    height: 10%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    word-wrap: break-word;
}
.date {
	left: 90%;
}
.commentPost {
    width: 60%;
    height: 10%;
}

.message{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #000000;
    width: 70%;
    background: #FFFFDD;
}
.mainComment {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: white;
    border-left: solid 10px #ffc06e;
    width: 300px;
}
.logout {
	left: 100px;
}

.mainPost {
}

.name {
	font-size: 1px;
}


.subject {
	padding: 0;
    margin: 0;
}